<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Books</title>
</head>
<body>
	<form>
		<table>
		<tr th:each="currentBook : ${book}">
			<td th:text="${currentBook.bookIsbn}" />
			<td th:text="${currentBook.bookName}" />
			<td th:text="${currentBook.bookAuthor}" /> 
			<td><a th:href="@{/editBook/{bookId}(bookId=${currentBook.bookId})}">Edit</a></td>
			<td><a th:href="@{/deleteBook/{bookId}(bookId=${currentBook.bookId})}">Delete</a></td>
			</tr>		
		</table>
	</form>
	<a href="../inputBook">Add a new Book</a>

</body>
</html>